<main id="main">
  <!-- ======= Welcome Section ======= -->
  <section id="welcome" class="d-flex align-items-center">
    <div class="container">
      <!-- Alert Error -->
      <app-alert></app-alert>
      <!-- End Alert Error -->
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center hero-img">
          <img src="../../../assets/img/hero-img.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-1 order-lg-2 mt-5">
          <h1>Yo! Forgot your password?</h1>
          <h5 class="mt-3">No worries! Enter your email and we will send you a reset.</h5>
          <!-- Step One -->
          <form *ngIf="step==1" class="mt-5" [formGroup]="resetFormStep1" (ngSubmit)="onSubmitStep1()">
            <div class="form-group mt-2">
              <label class="form-label">Email</label>
              <input type="text" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':  (submitted || formValueStep1.email.touched) &&  formValueStep1.email.errors,
                                'is-valid': formValueStep1.email.valid }" />
              <div *ngIf="(submitted || formValueStep1.email.touched)
                   && formValueStep1.email.errors " class="invalid-feedback">
                <div *ngIf=" submitted || formValueStep1.email.errors.required">Email is
                  required.
                </div>
                <div *ngIf="formValueStep1.email.errors.pattern">Please enter a valid email address.
                </div>
              </div>
              <div *ngIf="formValueStep1.email.valid" class="valid-feedback">
                <div>Looks Good.</div>
              </div>
            </div>
            <div class="form-group mt-3 row">
              <button *ngIf="!emailSent" type="submit" [disabled]="loading" class="btn-sign-in">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Send Request
              </button>
              <div class="row justify-content-md-center">
                <a routerLink="/login" class="col-md-auto btn-buy"> <i class="bi bi-arrow-left"></i>
                  &nbsp;Back To Login </a>
              </div>
            </div>
          </form>

          <!-- Step Two -->
          <form *ngIf="step==2" class="mt-5" [formGroup]="resetFormStep2" (ngSubmit)="onSubmitStep2()">
            <div class="form-group mt-2">
              <label class="form-label">Secret Key</label>
              <input type="text" placeholder="Secret Key" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid':  (submitted2 || formValueStep2.token.touched) &&  formValueStep2.token.errors,
                                'is-valid': formValueStep2.token.valid }" />
              <div id="emailHelp" class="form-text">Please copy the secret key from your Email and paste it above.</div>
              <div *ngIf="(submitted2 || formValueStep2.token.touched)
                   && formValueStep2.token.errors " class="invalid-feedback">
                <div *ngIf=" submitted2 || formValueStep2.token.errors.required">
                  Secret Key is
                  required.
                </div>
              </div>
              <div *ngIf="formValueStep2.token.valid" class="valid-feedback">
                <div>Looks Good.</div>
              </div>
            </div>
            <div class="form-group mt-2">
              <label class="form-label">Password</label>
              <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid':  (submitted2 || formValueStep2.password.touched) &&  formValueStep2.password.errors,
                                'is-valid': formValueStep2.password.valid }" />
              <small id="passwordHelpBlock" class="form-text" *ngIf="formValueStep2.password.dirty">
                Your password must be 8-20 characters long, contain letters and numbers,
                special characters and must not contain spaces.
              </small>
              <div *ngIf="(submitted2 || formValueStep2.password.touched)
                   && formValueStep2.password.errors " class="invalid-feedback">
                <div *ngIf="formValueStep2.password.errors.required">Password is
                  required.
                </div>
                <div *ngIf="formValueStep2.password.errors.pattern">
                  Please check the rules to respect regarding passwords.
                </div>
                <div *ngIf="formValueStep2.password.errors.minlength">The
                  minimum length for this field
                  is {{formValueStep2.password.errors.minlength.requiredLength}} number.
                </div>
                <div *ngIf="formValueStep2.password.errors.maxlength">The
                  maximum length for this field
                  is {{formValueStep2.password.errors.maxlength.requiredLength}} number.
                </div>
              </div>
              <div *ngIf="formValueStep2.password.valid" class="valid-feedback">
                Looks Good.
              </div>
            </div>
            <div class="form-group mt-3 row">
              <button type="submit" [disabled]="loading" class="btn-sign-in">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Welcome -->
</main>