<div class="pagetitle">
    <h1>Contact</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../../admin/main">Dashboard</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<!---Table-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contact Table</h5>

                <!-- Table rows -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rayen CHERNI</th>
                            <td>CTO</td>
                            <td>53 064 090</td>
                            <td>rayen.cherni@relead.tn</td>
                        </tr>
                        <tr>
                            <th scope="row">Hadhami RJIBA</th>
                            <td>CEO</td>
                            <td>95 625 471</td>
                            <td>hadhami.rjiba@relead.tn</td>
                        </tr>
                        <tr>
                            <th scope="row">Mouna KHALED</th>
                            <td>Customer support</td>
                            <td>96 267 963</td>
                            <td>mouna.khaled@relead.tn</td>
                        </tr>
                        <tr>
                            <th scope="row">Ahd SEGHIR</th>
                            <td>Community Manager</td>
                            <td>52 826 377</td>
                            <td>ahd.seghir@relead.tn</td>
                        </tr>
                        <tr>
                            <th scope="row">Khansa BOUKADIDA</th>
                            <td>Designer</td>
                            <td>55 351 723</td>
                            <td>khansa.boukadida@relead.tn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>